<ion-view view-title="add Tweet" data-ng-controller="addTweetController">
    <ion-header-bar class="bar-header bar-light">
        <i class="button i-button icon ion-ios-arrow-thin-left" on-tap="back()"></i>

        <h1 class="title">Add Tweet</h1>
        <i class="i-button icon ion-android-done i-header-right" on-tap="openModal()"></i>
    </ion-header-bar>
    <ion-content class="padding bg-gray">
        <textarea rows="8" style="width:100%;" placeholder="What's new with you"></textarea>
    </ion-content>
</ion-view>
